<app-nav></app-nav>
<div class="background">
    <div class="table-container">
        <br>
        <div class="text-detail-drivers">
            <h2><strong>Drivers</strong></h2>
        </div>
        <div *ngFor="let driver of driverData">
            <div *ngIf="driver">
                <mat-card class="full-card">
                    <mat-card-content class="card-content">
                        <div class="card-content-left">
                            <img mat-card-image src="../../assets/images/F1-Drivers/{{driver.familyName}}.png"
                                alt="Driver Image" width="70%">
                        </div>
                        <div class="card-content-right">
                            <h2>{{ driver.givenName }} {{ driver.familyName }}</h2>
                            <div class="additional-info">
                                <p><strong>Nationality: </strong>{{ driver.nationality }}</p>
                                <p><strong>Races: </strong>{{ driver.races }}</p>
                                <p><strong>Pole Positions: </strong>{{ driver.polePositions }}</p>
                                <p><strong>Podiums: </strong>{{ driver.podiums }}</p>
                                <p><strong>Wins: </strong>{{ driver.wins }}</p>
                                <p><strong>World Championships: </strong>{{ driver.worldChampionships }}</p>
                            </div>
                        </div>
                    </mat-card-content>
                    <div class="div-bar">
                        <mat-card-actions class="actions">
                            <button mat-button (click)="editDriver(driver)">Edit</button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>