body {
  background-color: #212529;
  font-family: Arial, sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.table-container {
  max-width: 80%;
  overflow-x: auto;
  margin: 0 auto;
}

.example-card2 {
  width: 80%;
  margin: 3% 5% 3% 10%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  display: flex;
}

.card-content {
  max-height: 100%;
  overflow-y: hidden;
  display: flex;
  background-color: #ffefc3;
}

.card-content-left {
  flex: 0.5;
  margin-left: 5%;
  padding: 10px 0 0 0;
}

.card-content-right {
  flex: 1;
  padding: 10px;
  border-left: 1px solid #ccc;
}

.additional-info {
  padding: 10px;
  border-top: 1px solid #ccc;
  font-size: larger;
}

.additional-info p {
  margin: 0;
}

.background{
  background-color: #212529;
}

.text-detail-drivers{
  margin-top: 3%;
  color: whitesmoke;
}