h2 {
  text-align: center;
  font-size: 30px;
}

.table-container {
  max-width: 85%;
  overflow-x: auto;
  margin: 0 auto;
}

.example-card2 {
  width: 80%;
  margin: 3% 5% 3% 10%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  
}

.card-content {
  max-height: 100%;
  overflow-y: hidden;
  display: flex;
  border-top: 10px;
  background-color:  #ffefc3;
}

.card-content-left {
  flex: 0.5;
  margin-left: 5%;
  padding: 10px 0px 0px 0px;
}

.card-content-right {
  flex: 1;
  padding: 10px;
  border-left: 3px solid #212529;
}

.additional-info {
  padding: 10px;
  font-size: larger;
}

.additional-info p {
  margin: 0;
}

.table-container-last-race{
  max-width: 100%;
  overflow-x: auto;
  margin: 0 auto;
}

.text-detail-races{
  margin-top: 3%;
  color: whitesmoke;
}
.div-bar {
  display: flex;
  justify-content: flex-end;
  background-color:  #ffefc3;
}

.actions {
  margin-left: auto;
}

button:hover {
  background-color: #ccc;
}