<div class="table-container-last-race">
  <h2 class="text-detail-races">Last Race</h2>
  <div *ngFor="let lastRace of lastRaceResult">
    <div *ngIf="lastRace">
      <mat-card class="full-card">
        <mat-card-content class="card-content">
          <div class="card-content-left">
            <img mat-card-image src="../../assets/images/F1-GP_Flags/{{lastRace.Circuit.circuitId}}.png"
              alt="GP Flag" width="70%">
          </div>
          <div class="card-content-right">
            <h2>{{ lastRace.Circuit.circuitName }}</h2>
            <div class="additional-info">
              <p><strong>Round: </strong>{{ lastRace.round }}</p>
              <p><strong>Winner: </strong>{{ lastRace.Results[0].Driver.givenName }}
                {{lastRace.Results[0].Driver.familyName }}</p>
              <p><strong>Team: </strong>{{ lastRace.Results[0].Constructor.name }}</p>
              <p><strong>Final Time: </strong>{{ lastRace.Results[0].Time.time }}</p>
            </div>
          </div>
        </mat-card-content>
        <div class="div-bar">
          <mat-card-actions>
            <button mat-button (click)="goToGpResults(lastRace.round)">More Details</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>


<div class="table-container">
  <h2 class="text-detail-races">Season Races</h2>
  <div *ngFor="let raceResult of seasonRaceResults">
    <div *ngIf="raceResult">
      <mat-card class="full-card">
        <mat-card-content class="card-content">
          <div class="card-content-left">
            <img mat-card-image src="../../assets/images/F1-GP_Flags/{{raceResult.Circuit.circuitId}}.png" alt="GP Flag"
              width="70%">
          </div>
          <div class="card-content-right">
            <h2> {{ raceResult.Circuit.circuitName }} </h2>
            <div class="additional-info">
              <p><strong>Round: </strong> {{ raceResult.round }}</p>
              <p><strong>Winner: </strong> {{ raceResult.Results[0].Driver.givenName }}
                {{raceResult.Results[0].Driver.familyName }}</p>
              <p><strong>Team: </strong> {{ raceResult.Results[0].Constructor.name }}</p>
              <p><strong>Final Time: </strong> {{ raceResult.Results[0].Time.time }}</p>
            </div>
          </div>
        </mat-card-content>
        <div class="div-bar">
          <mat-card-actions class="actions">
            <button mat-button (click)="goToGpResults(raceResult.round)">More Details</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>