<h2 mat-dialog-title class="custom-dialog-title">Driver Edit</h2>

<div mat-dialog-content>

    <form (ngSubmit)="editDriver()" class="custom-form">

        <div class="form-field">
            <label for="races">Races: </label>
            <input type="text" id="races" name="races" [value]="driver.races" [(ngModel)]="driver.races" required>
        </div>

        <div class="form-field">
            <label for="polePositions">Pole Positions: </label>
            <input type="text" id="polePositions" name="polePositions" [value]="driver.polePositions"
                [(ngModel)]="driver.polePositions" required>
        </div>

        <div class="form-field">
            <label for="podiums">Podiums: </label>
            <input type="text" id="podiums" name="podiums" [value]="driver.podiums" [(ngModel)]="driver.podiums"
                required>
        </div>

        <div class="form-field">
            <label for="wins">Wins: </label>
            <input type="text" id="wins" name="wins" [value]="driver.wins" [(ngModel)]="driver.wins" required>
        </div>

        <div class="form-field">
            <label for="worldChampionships">World Championships: </label>
            <input type="text" id="worldChampionships" name="worldChampionships" [value]="driver.worldChampionships" [(ngModel)]="driver.worldChampionships" required>
        </div>

        <button type="submit" class="custom-button">Save</button>
    </form>
    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()" class="custom-button">Cancel</button>
    </div>
</div>