.example-spacer {
    flex: 1 1 auto;
    
  }

mat-toolbar {
  background-color: #e10600;
  color: white;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

mat-toolbar span {
  font-size: 24px;
}

mat-toolbar span:hover{
  color: black;
}

img{
  width: 50px;
  margin-top: 2px;
}

button.mat-icon-button {
  color: white;
  margin: 0 8px;
  font-size: 24px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.custom-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.custom-button:hover {
  background-color: gray;
}
