<div>
  <mat-toolbar>
    <img src="../../assets/images/F1-Logo.ico" alt="F1 Logo">
    <span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="goHome()">
        <!--<mat-icon>home</mat-icon>-->
        Home
      </button>
    </span>
    <span class="example-spacer"></span>
    <div class="button-container">
    <button mat-raised-button class="custom-button" (click)="goToDrivers()">Drivers</button>
    <button mat-raised-button class="custom-button" (click)="goToStandings()">Standings</button>
    </div>
  </mat-toolbar>
</div>