.example-spacer {
    flex: 1 1 auto;
  }

  /* Estilos para la barra de navegación */
mat-toolbar {
  background-color: #1976D2; /* Color de fondo */
  color: white; /* Color del texto */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12); /* Sombra */
}

/* Estilo para el texto del título "My App" */
mat-toolbar span {
  font-size: 24px; /* Tamaño de fuente del título */
}

/* Estilos para los iconos y botones */
button.mat-icon-button {
  color: white; /* Color de los iconos */
  margin: 0 8px; /* Espaciado entre los iconos */
  font-size: 24px; /* Tamaño de fuente de los iconos */
}

/* Estilo para el icono favorito */
button.favorite-icon {
  color: #FF6F61; /* Color de icono de favorito */
}