<app-nav></app-nav>
<div class="background">
  <div class="table-container">
    <br>
    <h2>Driver Standings</h2>
    <table mat-table [dataSource]="driverResult" class="custom-mat-table">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="custom-header"> Position </th>
        <td mat-cell *matCellDef="let element" class="custom-cell"> <strong>{{element.position}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="piloto">
        <th mat-header-cell *matHeaderCellDef class="custom-header"> Driver </th>
        <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.Driver.givenName}}
          {{element.Driver.familyName}} </td>
      </ng-container>

      <ng-container matColumnDef="puntos">
        <th mat-header-cell *matHeaderCellDef class="custom-header"> Points </th>
        <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.points}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDrivers"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsDrivers"></tr>
    </table>
  </div>
</div>

<div class="background">
  <div class="table-container">
    <h2>Constructor Standings</h2>
    <table mat-table [dataSource]="constructorResult" class="custom-mat-table">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="custom-header"> Position </th>
        <td mat-cell *matCellDef="let element" class="custom-cell"> <strong>{{element.position}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="constructor">
        <th mat-header-cell *matHeaderCellDef class="custom-header"> Constructor </th>
        <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.Constructor.name}} </td>
      </ng-container>

      <ng-container matColumnDef="puntos">
        <th mat-header-cell *matHeaderCellDef class="custom-header"> Points </th>
        <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.points}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsConstructors"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsConstructors"></tr>
    </table>
  </div>
</div>
<app-footer></app-footer>