/* Estilo para encabezados h2 */
h2 {
  text-align: center;
  font-size: 30px;
}

/* Estilo para contenedor de tabla de comentarios */
.table-container-comments {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 1%;
}

/* Estilo para texto de detalles de carreras */
.text-detail-races {
  margin-top: 2%;
  color: whitesmoke;
}

/* Estilo para contenedor de tabla general */
.table-container {
  max-width: 85%;
  overflow-x: auto;
  margin: 0 auto;
}

/* Estilo para tarjeta completa */
.full-card {
  width: 60%;
  margin: 2% 5% 3% 20%;
  border: 2px solid #0073b1;
  border-radius: 7px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
}

/* Estilo para el contenido de la tarjeta */
.card-content {
  overflow-y: hidden;
  background-color: #ffefc3;
  text-align: center;
}

/* Estilo para el texto dentro del contenido de la tarjeta */
.card-content p {
  color: black;
}

/* Estilo para la barra en la parte inferior de la tarjeta */
.div-bar {
  display: flex;
  justify-content: flex-end;
  background-color: #0073b1;
}

/* Estilo para el botón en el estado de hover */
button:hover {
  background-color: #ccc;
}
.user{
  text-align: left;
}
