/* Añadir estos estilos */

.comment-name {
  margin: 0;
  font-size: 16px;
  text-align: left;
}

.comment-text {
  margin: 0;
  text-align: left;
}

.action-buttons {
  text-align: right;
  margin-top: 10px;
}

.full-card {
  width: 50%;
  margin: 2% 15% 0% 25%;
  border: 2px solid #8f87747d;
  border-radius: 7px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
}

.card-content {
  overflow-y: hidden;
  background-color: #8f87747d;
  text-align: center;
}

.card-content p {
  color: black;
  margin: 0; /* Eliminar el margen predeterminado del párrafo */
}

.div-bar {
  display: flex;
  justify-content: flex-end;
  background-color: #0073b1;
}

button:hover {
  background-color: #dcc0c0;
}

.text-detail-races{
    text-align: center;
  font-size: 30px;
  margin-top: 2%;
  color: whitesmoke;
}
mat-form-field {
  width: 100%; /* Hacer que el campo de formulario ocupe el 100% del ancho disponible */
}

textarea {
  width: 100%; /* Hacer que el textarea ocupe el 100% del ancho disponible */
  resize: vertical; /* Permitir la redimensión vertical */
  min-height: 80px; /* Altura mínima */
  border: 1px solid #ccc; /* Añadir un borde para mejorar la apariencia */
  padding: 8px; /* Espaciado interno */
  font-size: 14px; /* Tamaño de fuente */
}